// rules_version = '2';

// service cloud.firestore {
//   match /databases/{database}/documents {
//     match /{document=**} {
//       allow read, write: if false;
//     }
//   }
// }

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Aturan untuk collection 'teams'
    match /teams/{teamId} {
      // Allow read: true -> Semua orang (publik) boleh melihat skor
      allow read: if true;
      
      // Allow write: request.auth != null -> Hanya admin login yang boleh edit skor
      allow write: if request.auth != null;
    }
    
  }
}